/*
 Theme Name:     Bonhill Events Theme
 Template:       Divi
 Version:        7.1.0
 Bitbucket Theme URI: https://bitbucket.org/ibrarrkhan/divi-child/
*/
 
 
/* =Theme customization starts here
------------------------------------------------------- */

/* New Site - Sep 2019 */

/* Mobile menu dropdown */
#main-header .et_mobile_menu .menu-item-has-children > a { background-color: transparent; position: relative; }
#main-header .et_mobile_menu .menu-item-has-children > a:after { font-family: 'ETmodules'; text-align: center; speak: none; font-weight: normal; font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased; position: absolute; }
#main-header .et_mobile_menu .menu-item-has-children > a:after { font-size: 16px; content: '\4c'; top: 13px; right: 10px; }
#main-header .et_mobile_menu .menu-item-has-children.visible > a:after { content: '\4d'; }
#main-header .et_mobile_menu ul.sub-menu { display: none !important; visibility: hidden !important;  transition: all 1.5s ease-in-out;}
#main-header .et_mobile_menu .visible > ul.sub-menu { display: block !important; visibility: visible !important; }
/* Mobile menu dropdown */

span.woocommerce-input-wrapper {
    width: 100%;
}

.et-cart-info {
	display: none !important;
}

html > .page-id-319 {
    background-color: #e2e2e2 !important;
}

body.winners-template-default, .winners-template-default .et_pb_section.et_pb_section_0.et_section_regular {
    background-color: #e2e2e2 !important;
}

.nav-next, .nav-previous {
    position: fixed;
    top: 50%;
}

@media only screen and (min-width: 768px) {
.single.single-winners #main-footer, .page-id-319 #main-footer{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 9;
}
}

a {
	text-decoration: none !important;
}

.winners-template-default  .et_post_meta_wrapper {
	display: none !important;
}

/* Carousel Styles */
.navigation.winners div.nav-previous, .navigation.winners div.nav-next {
    position: fixed;
    bottom: 50%;
}

.navigation.winners div.nav-previous {
    left: 5%;
}

.navigation.winners div.nav-next {
    right: 7%;
}

.navigation.winners div.nav-previous a, .navigation.winners div.nav-next a {
    color: #000;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 50px;
}

.navigation.winners div.nav-previous a span, .navigation.winners div.nav-next a span{
    font-size: 30px !important;
}

.carousel-item.col-md-4 img {
	    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .4s ease-in-out; 
	will-change: transform;
}

.carousel-item.col-md-4 img:hover {
		transform: scale(1.1);
    filter: none;
    -webkit-filter: grayscale(0);
}
.carousel-item.col-md-4:hover div {
	  visibility: visible;
}

.carousel a span {
	color: black !important;
	font-weight: 600 !important;
	    font-size: 30px !important;
}

.carousel a {
	width: 2% !important;
	text-decoration: none !important;
}

.carousel-inner {
	text-align: center !important;
}

.carousel-inner div{
	 padding: 50px;
}

.carousel-inner .carousel-item div {
	  padding: 10px 20px 10px 20px;
	  font-weight: 600;
      background: white;
      border: 5px solid black;
      border-radius: 30px;
	  position: relative !important; 
      display: inline-block;
	  visibility: hidden;
	  margin-top: -100%;
}

.carousel-inner .carousel-item div p.name{
	text-transform: uppercase;
    font-weight: 700;
	color: #710c50;
	font-size: 20px !important; 
	padding: 0px;
    margin: 0px;
}

.carousel-inner .carousel-item div p.position{ 
	padding: 0px;
    margin: 0px; 
	color: #444 !important;
}

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
/* Carousel Styles */

#main-header {
	position: sticky !important;
}
.textwidget.custom-html-widget p {
	padding-bottom: 0px !important;
}
#footer-info {
	text-align: center;
	font-size: 10px !important;
	float: none;
}

.et_header_style_centered.et_mobile_device header#main-header.et-fixed-header .logo_container {
    height: auto !important;
}

/* Agenda CSS */
.hover_circle_shedule_after:before {
	  position: absolute;
    left: -20.5px;
    width: 3px;
    background-color: #e6e6f6;
    content: '';
    top: 10px;
    height: 98%;
}

.hover_circle_shedule_after:after {
    position: absolute;
    left: -36.5px;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: #e6e6f6;
    content: '';
    border: 5px solid white;
    transition: all 0.3s ease;
	top:0;
	box-sizing: unset;
}

.hover_circle_shedule p, .hover_circle_shedule_after p {
    color: #666;
    font-size: 16px;
}

.hover_circle_shedule:before {
	  position: absolute;
    left: -36.5px;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: #e6e6f6;
    content: '';
    border: 5px solid white;
    transition: all 0.3s ease;
	box-sizing: unset;
}

.hover_circle_shedule, .hover_circle_shedule_after {
	padding-left : 20px;
}

.award-cat-box {
	border: 2px solid #666;
	padding: 20px;
	cursor: pointer;
}
/* Agenda CSS */

.award-cat-box h3{
	margin-bottom: 10px;
	font-weight: 600;
}

#nominee_details_form input[type=text], #nominee_details_form textarea, .attendee-form-group input[type=text] {
    width: 100%;
}

#nominee_details_form input[type=submit]{
	display: block;
}

.form-title h3 {
	font-weight: bold;
}

#pass_dropdown {
	width: 100%;
}

#repeater-container:before {
	display: none;
}

@media only screen and (max-width: 878px) {
span.logo_helper {
	height: auto !important;
}
}

/* Speakers/Judges CSS */
.judges_picture:hover .et_pb_team_member_image {
    -ms-transform: scale(1.1) !important;
    -webkit-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
}

.judges_picture .et_pb_team_member_image {
    min-width: 100% !important;
    margin: auto !important;
    transition: transform .5s !important;
}

.judges_picture .et_pb_team_member_description {
    padding: 20px 30px 20px 30px !important;
    background: #f1f1f1 !important;
	width: 100% !important;
    float: right !important;
}

.judges_picture h3.et_pb_module_header {
	font-size: 22px;
    color: #333;
	padding: 0px;
}

.judges_picture .et_pb_member_position {
    padding-bottom: 10px!important;
	margin: 0px;
}

.winners-template-default p.et_pb_member_position {
    color: black !important;
    font-weight: bold;
}

.winners-template-default h1.et_pb_module_header {
    padding: 0px;
}

.judges_picture.et_pb_team_member {
    background-color: #f1f1f1 !important;
    border-radius: 20px 20px 0 0 !important;
    overflow: hidden !important;
    margin-bottom: 25px !important;
		z-index: 0 !important;
}

.et_pb_text.judges_text {
    border-radius: 0 0 20px 20px !important;
    overflow: hidden !important;
    margin-top: -45px !important;
    margin-bottom: 28px !important;
    padding: 10px 30px 20px 30px !important;
    background-color: #f1f1f1 !important;
    z-index: 2 !important;
}
/* Speakers/Judges CSS */

@media only screen and (min-width: 700px) {
.sponsor_float .et_pb_blurb_content {
	max-width: 100%;
}

.sponsor_float .et_pb_main_blurb_image {
	  padding-top:10px;
 	  float: left;
    width: 30%;
}

.sponsor_float .et_pb_blurb_container {
 	  float: right;
    width: 70%;
}
}

/* #sponsor-hover-effect img {
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .2s ease-in-out;  
}

#sponsor-hover-effect img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
} */

.et_fixed_nav.et_show_nav #page-container, .et_non_fixed_nav.et_transparent_nav.et_show_nav #page-container {
	padding-top: 0px !important;
}

#et_top_search {
	display: none !important;
}

h1 {
	text-transform: uppercase; 
    font-size: 40px;
}
p {
    font-size: 16px;
}

#field_4_12 {
	padding-right: 10px;
}

.et_pb_toggle_open .et_pb_toggle_title:before {
    content: "\L" !important;
    transform: rotate(45deg) !important;
    transition: ease-out 0.3s !important;
    font-size: 20px !important;
}

.et_pb_toggle_title:before {
    font-size: 20px !important;
    transition: ease-in 0.3s !important;
    content: "\L" !important;
}

#new-pricing-table .et_pb_pricing_content:before {
    border-top: 1px solid black;
    width: 100px;
    padding-top: 10px;
    margin: auto;
    display: block;
    content: "";
    margin-bottom: 20px;
}

.et_pb_animation_top.et-animated {
    opacity: 1 !important;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
}

.et-waypoint {
    opacity: 1 !important;
}

/* Animated Call To Action */
 
/*** style CTA section and row when waypoint is not triggered ***/
#cta-section {
    padding: 80px 150px 80px 150px;
    transition: all .8s ease;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
}
@media only screen and (max-width: 750px) {
  #cta-section {
    padding: 0px;
  }
}
#cta-row {
    margin: 80px auto 0 auto;
    padding: 80px 0;
    max-width: 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 10px 50px #939fa9;
    transition: all .8s ease;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
 
}
/*** Style CTA section and row once waypoint toggles animate-cta class ***/
#cta-section.animate-cta {
    overflow: hidden;
}

.animate-cta #cta-row {
    margin: 0 auto 0 auto;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    width: 100%;
}

#cta-row {
	background-blend-mode: overlay;
}

/*** style button ***/

@media only screen and (max-width: 654px) {
  .one#sign {
    margin-right: 0px !important;
  }
}
 
#sign {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 25px;
    margin-top: 30px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -webkit-transition: all .8s ease;
}

#sign:hover {
    background-color: #fff;
    border: 3px solid #fff;
}

.two#sign {
    display: inline-block;
    width: 246px;   
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    background: none;
    padding: 20px 40px;
    margin-top: 30px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -webkit-transition: all .8s ease;
}


.two#sign:hover {
    background-color: #fff;
	  border: 3px solid #fff;
	  color: #f92c8b;
    box-shadow: 0px 20px 80px #fff;
    -moz-box-shadow: 0px 20px 80px #fff;
    -webkit-box-shadow: 0px 20px 80px #fff;
}
 
/*** style content within the code module ***/
 
.cta-info{
    color: #fff;
    text-align: center;
    margin: 0 auto !important;
    max-width: 1080px;
    padding: 50px;
}
.cta-info h3 {
	font-weight: 600;
    color: #fff;
    font-size: 25px;
    line-height: 1.3em;
	padding: 20px 0px;
}
/* New Site - Sep 2019 */

#pass_dropdown option {
	  padding: 20px;
    font-size: 14px;
    font-weight: 600;
}

.sponsor_float h3 {
	font-weight: bold;
}

.sponsor_container {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.et_pb_toggle.hover_circle_shedule.et_pb_toggle_close {
    background-color: #ffffff;
}
.et_pb_toggle.hover_circle_shedule {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    border-width: 0px;
}

.et_pb_toggle.hover_circle_shedule {
    padding-top: 0px!important;
    padding-right: 0px!important;
    padding-bottom: 0px!important;
    padding-left: 20px!important;
}

.et_pb_toggle.hover_circle_shedule .et_pb_toggle_title {
    display: inline-block!important;
    padding-top: 5px!important;
    line-height: 1.7em!important;
    font-weight: bold;
	font-size: 16px;
    color: #666;
}

/* Main Form Styling */
.main-form-style {
	background-color: #f7f8f9;
  padding: 40px;
	border-radius: 4px;
}

.main-form-style input[type=text], .main-form-style input[type=email], .main-form-style input[type=tel], .main-form-style textarea {
    height: 40px;
    padding: 10px 12px !important;
    color: #32325d !important;
    background-color: white !important;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease !important;
    transition: box-shadow 150ms ease !important;
	  width: 100%;
}
.main-form-style input[type=radio] {
	cursor: pointer;
}

.main-form-style textarea{
	height: auto !important;
}

.main-form-style label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
		margin-top: 5px;
}

input:focus:required:invalid, textarea:focus:required:invalid {
	border: 1px solid red !important;
}

input:required:valid, textarea:required:valid {
	border: 1px solid #00dc00 !important;
}

form.submitted input:focus:required:invalid {
    border:1px solid !important;
}

.custom-file-upload {
	  height: 45px;
    padding: 10px 12px!important;
    color: #32325d!important;
    background-color: white!important;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease!important;
    transition: box-shadow 150ms ease!important;
	  cursor: pointer;
}

.icon_cloud-upload_alt:before {
    content: "\e003";
}


.icon_cloud-upload_alt {
    font-size: 25px;
    vertical-align: middle;
}

.main-form-style input[type=submit], .main-form-style #customButton {
    padding: 0px !important;
    width: 100%;
    margin-top: 13px;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    -webkit-transition: all 150ms ease;
    transition: all 300ms ease;
	  cursor: pointer;
}

.main-form-style input[type="submit"]:hover, .main-form-style #customButton:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}

.icon_plus_alt2:before {
    content: "\50";
}

.icon_plus_alt2, .icon_minus_alt2 {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.add-attendee, .remove-attendee {
    padding: 5px 12px!important;
    color: #32325d!important;
    background-color: white!important;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease!important;
    transition: box-shadow 150ms ease!important;
    cursor: pointer;
    display: inline-block !important;
	  font-size: 11px;
}

.remove-attendee {
    margin: 20px 0px;
}

.add-attendee:disabled {
    color: graytext !important;
}

.icon_minus_alt2:before {
    content: "\4f";
}
/* Main Form Styling */

.title-bottom-border {
    padding-top: 20px;
}